# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
backend_python/venv/
.env/
.env.* 
*.env

# Byte-compiled
*.pyc

# Build
build/
develop-eggs/
dist/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg
